SUPABASE_URL=https://kaiqftrzoocqcmqtikua.supabase.co
SUPABASE_SERVICE_KEY=sb_publishable_OdJsOx6kA7SVlFWJTCgFtg_mpi_QB7u
TELEGRAM_BOT_TOKEN=8965035467
TELEGRAM_WEBHOOK_SECRET=AAEahlkDLTr8PuYOrtlLGwcxf2LuJDrXLXs
